<section class="block container block-groups">
    <header class="block__header">
        <h2>Join any of the groups</h2>
        <p>Join a fellowship group and serve the Lord while ye are young</p>
    </header>
    <div class="input-group">
        <input type="text" class="input" placeholder="Search for groups to join ">
        <span class="icon-container icon-container--accent icon-container--small">
            <svg class="icon icon--white icon--small">
                <use xlink:href="images/sprite.svg#search"></use>
            </svg>
        </span>
    </div>
    <ul class="list block-groups__lists">
        <li><span class="badge badge--primary">Choir</span></li>
        <li>Evangelism</li>
        <li>Prayer</li>
        <li>Organizing</li>
        <li>Drama</li>
        <li>Bible Study</li>
        <!-- <li>More...</li> -->
    </ul>
</section>