<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">About</h2>
          <svg class="icon icon--primary collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">About 1</a></li>
          <li><a href="#">About 2</a></li>
          <li><a href="#">About 3</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Contact</h2>
          <svg class="icon icon--primary collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Contact 1</a></li>
          <li><a href="#">Contact 2</a></li>
          <li><a href="#">Contact 3</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Events</h2>
          <svg class="icon icon--primary collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Events 1</a></li>
          <li><a href="#">Events 2</a></li>
          <li><a href="#">Events 3</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
          <h2 class="collapsible__heading footer__heading">Groups</h2>
          <svg class="icon icon--primary collapsible__chevron">
              <use xlink:href="images/sprite.svg#chevron"></use>
          </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Groups 1</a></li>
          <li><a href="#">Groups 2</a></li>
          <li><a href="#">Groups 3</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="">
      <p class="footer__copright">Copyright 2023 iamkrisefobi.com</p>
    </section>
  </div>
</footer>