<section class="container block">
  <header class="block__header">
    <h2>Meet Our Excos</h2>
    <p>Meet our present 2022/2023 Excos and know a bit about them</p>
  </header>
  <div class="grid grid--1x2 exco">
    <div class="exco__content">
      <div class="media">
        <div class="media__image">
          <img class="exco__image" src="images/exco-female.jpg" alt="">
        </div>
        <div class="media__body">
          <h3 class="media__title">Mary Moses</h3>
          <p>Mary Moses is a Msc. Student in the Department of Accounting. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam dolor libero animi voluptatibus. Quis ducimus necessitatibus accusantium deleniti a.</p>
        </div>
      </div>
    </div>
    <div class="exco__content">
      <div class="media">
        <div class="media__image">
          <img class="exco__image" src="images/exco-male2.jpg" alt="">
      </div>
        <div class="media__body">
          <h3 class="media__title">Efobi Christian</h3>
          <p>Efobi Christian is a Phd Student in the Department of Architecture. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam dolor libero animi voluptatibus. Quis ducimus necessitatibus accusantium deleniti a.</p>
        </div>
      </div>
    </div>
    <div class="exco__content">
      <div class="media">
        <div class="media__image">
          <img class="exco__image" src="images/exco-male1.jpg" alt="">
      </div>
        <div class="media__body">
          <h3 class="media__title">Peter James</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam dolor libero animi voluptatibus. Quis ducimus necessitatibus accusantium deleniti a.</p>
        </div>
      </div>
    </div>
    <div class="exco__content">
      <div class="media">
        <div class="media__image">
          <img class="exco__image" src="images/exco-female2.jpg" alt="">
      </div>
        <div class="media__body">
          <h3 class="media__title">Akanji Grace</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam dolor libero animi voluptatibus. Quis ducimus necessitatibus accusantium deleniti a.</p>
        </div>
      </div>
    </div>
    <div class="exco__content">
      <div class="media">
        <div class="media__image">
          <img class="exco__image" src="images/exco-female.jpg" alt="">
        </div>
        <div class="media__body">
          <h3 class="media__title">Mary Moses</h3>
          <p>Mary Moses is a Msc. Student in the Department of Accounting. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam dolor libero animi voluptatibus. Quis ducimus necessitatibus accusantium deleniti a.</p>
        </div>
      </div>
    </div>
    <div class="exco__content">
      <div class="media">
        <div class="media__image">
          <img class="exco__image" src="images/exco-male2.jpg" alt="">
      </div>
        <div class="media__body">
          <h3 class="media__title">Efobi Christian</h3>
          <p>Efobi Christian is a Phd Student in the Department of Architecture. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa laboriosam dolor libero animi voluptatibus. Quis ducimus necessitatibus accusantium deleniti a.</p>
        </div>
      </div>
    </div>
  </div>
</section>
